.bg-image{
    background-image: url('https://i.postimg.cc/66mwQt5G/standard-quality-control-concept-m.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}